a.button {
  
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  
  padding: 18px 38px;
  border: 1.5px none rgb(138, 138, 138);
  background: transparent;
  color: white !important;
  background-color: $blue;
  // text-transform: uppercase;

  &:hover {
    color: $light !important;
    background-color: $blue-darker;
    
  }
}

a.button-small {
  cursor: pointer;
  font-weight: 600 !important;
  padding: 14px 34px;
  color: $light;
  background-color: $blue;
  // text-transform: uppercase;

  &:hover {
    color: $light !important;
    background-color: $blue-darker;
    
  }
}

a.button-light {
  cursor: pointer;
  // font-weight: 600 !important;
  padding: 14px 34px;
  color: $blue;
  background-color: #f5f5f5;
  // text-transform: uppercase;

  &:hover {
    background-color: #dae0ff;
    color: $blue-darker;
    
  }
}

