$font-size: 18px;
$text-muted: rgb(204, 204, 204);
.signup__form {
  color: $text-muted;
  width: 500px;
  padding: 30px 50px 60px;
  text-align: center;

  h1 {
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    border-radius: 2px;
    padding-left: 18px;
    display: block;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 300;
    font-size: $font-size;
    line-height: $font-size * 2.5;
    margin-bottom: 8px;
    margin-top: 8px;
    border: none;
    background-color: #f8f8f8;
    border: 0px solid $text-muted;
    min-width: 250px;
    outline: none;
    color: rgba(0, 0, 0, 1);
    &::placeholder {
      transition: 0.25s ease;
      font-family: "Open Sans", sans-serif !important;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
        transform: translate(8px, 0px);
      }
    }
  }

  .error-label{
    margin: 0;
  }

}
